#
# MMC core configuration
#

config MMC_DISABLE_SPI_CRC
	bool "Disable MMC software CRCs on data blocks"
	help
	  Software CRCs on the data blocks can be a significant (30%)
	  performance cost, and for other reasons may not always be
	  desired.  Select this option to disable it.
	  If unsure, say N.
